.main {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:global(.fade-enter) {
    opacity: 0;
  }

  &:global(.fade-enter-active) {
    opacity: 1;
    transition: opacity 380ms;
  }

  &:global(.fade-exit) {
    opacity: 1;
  }

  &:global(.fade-exit-active) {
    opacity: 0;
    transition: opacity 380ms;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  position: relative;

  header {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    z-index: 1;
    height: 42px;
  }

  img {
    position: absolute;
    left: 0; right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  svg {
    position: relative;
    z-index: 2;
  }
}

.body {
  flex: 1;
  background-color: var(--color-box-foreground-2);
  border-top: 1px solid var(--color-box-border-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputs {
  max-width: 300px;
  width: 100%;
  margin-bottom: 14px;
}

.error {
  margin-bottom: 18px;
  color: var(--color-secondary-red);
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seperator {
  margin-bottom: 20px;
  max-width: 300px;
  width: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  color: var(--color-text-passive-2);

  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-box-border-1);
    top: 50%;
    transform: translateY(-50%);
  }

  & > span {
    position: relative;
    z-index: 1;
    background-color: var(--color-box-foreground-2);
    text-align: center;
    padding: 0 6px;
  }
}

.buttons {
  display: flex;
  column-gap: 12px;
}